body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

table {
    width: 100%;
}

.status {
    padding: 6px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
}

.mat-row:nth-child(even){ background-color: #fff; }
        
.mat-row:nth-child(odd){ background-color: #f5f5f5; }

::ng-deep .mat-sort-header-arrow {
    transform: none !important;
    opacity: 1 !important;
}

.popup {
    position: absolute;
    background: #181a18cc;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}