  body {
    text-align: center;
  }

  #image {
    width: 150px;
    height: 150px;
    margin: 7px;
    box-shadow: 4px 1px 6px #7a7a79;
    border-radius: 5px;
  }

  .dragContainer {
    height: 100px;
    text-align: center;
    height: 250px;
    width: auto;
    padding: 5rem;
  }

  .Imgcontainer {
    display: inline-block;  
    position: relative; 
  }

  .buttonContainer {
    position: absolute;
    top: 8px;
    left: 0;
  }
  
  .btnEdit {
    /* margin-right: 7rem; */
    margin-left: 10px;
    background: royalblue;
    color: #fff;
    border-radius: 14px;
    height: 1.9rem;
    width: 2rem;
    text-align: center;
    padding: 3px;

  }

  .btnRemove {
    margin-left: 5rem;
    border-radius: 14px;
    background: red;
    color: #fff;
    height: 1.9rem;
    width: 2rem;
    text-align: center;
    padding: 3px;
  }

  .hidden {
    visibility: hidden;
  }