<div class="container border pt-2 mb-3">
  <div class="d-flex flex-column">
    <button class="btn btn-info mb-2 mr-1" (click)="Csv()">Csv</button>
    <button class="btn btn-info mb-2 mr-1" (click)="Excel()">Excel</button> 
    <button class="btn btn-info mb-2" (click)="Pdf()">PDF</button>
    <div class="btn btn-outline-secondary mb-2" (click)="cancel()">Cancel</div>
  </div> 
</div>











<!-- <div class="d-flex flex-column">
  <h3 class="text-info"><span [style.color]="'red'">⚠</span> Select for delete records from PDF <span [style.color]="'red'">⚠</span></h3>
  <mat-checkbox (click)="selectedBox('id')">Order Id</mat-checkbox>
  <mat-checkbox (click)="selectedBox('orderDate')">Order Date</mat-checkbox>
  <mat-checkbox (click)="selectedBox('name')">Party Name</mat-checkbox>
  <mat-checkbox (click)="selectedBox('station')">Station</mat-checkbox>
  <mat-checkbox (click)="selectedBox('status')">Status</mat-checkbox>
  <mat-checkbox (click)="selectedBox('number')">Mobile no.</mat-checkbox>
</div> -->