<div class="container border">
  <div class="text-center color mt-2">
    <h1>Sales Order</h1>
  </div>
  <form [formGroup]="salesOrder">
    <div class="container">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Party<span>*</span></label>
        <select id="party" class="form-control" formControlName="party" (change)="onPartyChange()">
          <ng-container *ngFor="let party of partyOptions; let i = index">
            <option [value]="party.id">{{ party.partyName }}</option>
          </ng-container>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Address<span>*</span></label>
        <textarea type="text" class="form-control" id="exampleInputPassword1" formControlName="address"></textarea>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="book" class="form-label">Book<span>*</span></label>
          <select id="book" class="form-control" formControlName="book" (change)="onBookChange()">
            <ng-container *ngFor="let book of bookOptions; let i = index">
              <option [value]="book.id">{{ book.value }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col">
          <label for="orderType" class="form-label">Order Type<span>*</span></label>
          <select id="orderType" class="form-control" formControlName="orderType">
            <ng-container *ngFor="let order of orderTypeOptions; let i = index">
              <option [value]="order.id">{{ order.orderType }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col">
          <label for="taxType" class="form-label">Tax Type<span>*</span></label>
          <select id="taxType" class="form-control" formControlName="taxType">
            <ng-container *ngFor="let tax of taxTypeOptions; let i = index">
              <option [value]="tax.id">{{ tax.value }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="orderId" class="form-label">OrderId<span>*</span></label>
          <input type="text" class="form-control" id="orderId" formControlName="orderId" />
        </div>
        <div class="col">
          <label for="orderDate" class="form-label">Order Date<span>*</span></label>
          <input type="text" class="form-control" id="orderDate" formControlName="orderDate" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="dueDays" class="form-label">Due Days<span>*</span></label>
          <input type="text" class="form-control" id="dueDays" formControlName="dueDays" />
        </div>
        <div class="col">
          <label for="deliverydate" class="form-label">Delivery Date<span>*</span></label>
          <input type="text" class="form-control" id="deliverydate" formControlName="deliveryDate" />
        </div>
        <div class="col">
          <label for="challan" class="form-label">Challan<span>*</span></label>
          <input type="number" class="form-control" id="challan" formControlName="challan" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col dropdown">
          <label for="salesman">Salesman</label>
          <select id="salesman" class="form-control" formControlName="salesman">
            <ng-container *ngFor="let sales of salesmans; let i = index">
              <option [value]="sales.id">{{ sales.salesmanName }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col">
          <label for="broker">Broker</label>
          <select id="broker" class="form-control" formControlName="broker">
            <ng-container *ngFor="let broker of brokers; let i = index">
              <option [value]="broker.id">{{ broker.brokerName }}</option>
            </ng-container>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="hasteName" class="form-label">Haste Name<span>*</span></label>
          <input type="text" class="form-control" id="hasteName" formControlName="hasteName" />
        </div>
        <div class="col">
          <label for="transPort" class="form-label">Transport<span>*</span></label>
          <input type="text" class="form-control" id="transPort" formControlName="transPort" />
        </div>
      </div>

      <ng-container>
        <div class="color mt-2">
          <h4>Products</h4>
        </div>
        <div class="mb-3 d-flex mt-2">
          <div class="form-check mr-5">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
            <label class="form-check-label" for="exampleRadios1"> Barcode </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
            <label class="form-check-label" for="exampleRadios1"> design </label>
          </div>
        </div>
        <ng-container formArrayName="products" *ngFor="let productsControl of productsControls; let i = index">
          <ng-container [formGroupName]="i">
            <div class="my-3 border py-3 px-3">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col col-md-2 col-lg-2">
                  <label for="productId" class="form-label">Product<span>*</span></label>
                  <input type="text" class="form-control" id="productId" formControlName="productId" (change)="onProductChange(i)" />
                </div>
                <div class="col col-md-2 col-lg-2">
                  <label for="mrp" class="form-label">MRP<span>*</span></label>
                  <input type="text" class="form-control" id="mrp" formControlName="mrp" />
                </div>
                <div class="col col-md-2 col-lg-2">
                  <label for="rate" class="form-label">Rate<span>*</span></label>
                  <input type="text" class="form-control" id="rate" formControlName="rate" />
                </div>
                <div class="col col-md-2 col-lg-2">
                  <label for="qnt" class="form-label">Quantity<span>*</span></label>
                  <input type="text" class="form-control" id="qnt" formControlName="qnt" (change)="onQntChange(i)" />
                </div>
                <div class="col col-md-2 col-lg-2">
                  <label for="amnt" class="form-label">Amount<span>*</span></label>
                  <input type="text" class="form-control" id="amnt" formControlName="amnt" />
                </div>
                <div class="col col-md-2 col-lg-2" >
                  <button class="btn mt border-danger ml-5 mr-3" (click)="onDelete(i)">
                    <span><i class="far fa-trash-alt"></i></span>
                  </button>
                  <button *ngIf="!isOnIndex"
                  class="btn mt border-primary iconColor" 
                  (click)="toggleForm()">
                    <i
                      class="fas"
                      [ngClass]="{
                        'fa-chevron-down': !toggleButton,
                        'fa-chevron-up': toggleButton
                      }"
                    >
                    </i>
                  </button>
                </div>
              </div>
            </div>
            <!-- productControls.get('btnToggle').value     salesOrder.get('showForm').value -->
            <ng-container *ngIf="salesOrder.get('showForm').value">
              <div class="row">
                <div class="col">
                  <label for="dis1" class="form-label">Dis 1 %<span>*</span></label>
                  <input type="text" class="form-control" id="dis1" formControlName="dis1" (change)="onDiscount1Change(i)" />
                </div>
                <div class="col">
                  <label for="disamt1" class="form-label">Dis amount<span>*</span></label>
                  <input type="text" class="form-control" id="disamt1" formControlName="disamt1" />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="dis2" class="form-label">Dis 2 %<span>*</span></label>
                  <input type="text" class="form-control" id="dis2" formControlName="dis2" (change)="onDiscount2Change(i)" />
                </div>
                <div class="col">
                  <label for="disamt2" class="form-label">Dis amount<span>*</span></label>
                  <input type="text" class="form-control" id="disamt2" formControlName="disamt2" />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="tax1" class="form-label">Tax 1<span>*</span></label>
                  <input type="text" class="form-control" id="tax1" formControlName="tax1" (change)="onTax1Change(i)" />
                </div>
                <div class="col">
                  <label for="tax2" class="form-label">Tax 2<span>*</span></label>
                  <input type="text" class="form-control" id="tax2" formControlName="tax2" (change)="onTax2Change(i)" />
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <button class="btn btn2 btn-primary mt-2" (click)="onAddProduct()">ADD PRODUCT</button>
        </div>
      </div>
      <div class="mb-3 font-weight-bold">
        <div class="d-flex justify-content-between align-items-center">
          <div>Quantity</div>
          <div>{{ salesOrder.get('quantity').value }}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>Amount</div>
          <div>{{ salesOrder.get("amount").value }}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>Discount Amount</div>
          <div>{{ salesOrder.get("discountAmount").value }}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>Tax Amount</div>
          <div>{{ salesOrder.get("taxAmount").value }}</div>
        </div>
        <hr />
        <div class="d-flex justify-content-between align-items-center">
          <div>Total Amount</div>
          <div>{{ salesOrder.get("totalAmount").value }}</div>
        </div>
        <div class="d-flex justify-content-end align-items-end">
          <button class="btn btn-primary mt-2" [disabled]="salesOrder.invalid" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
