<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Table Data ✍</mat-card-title>
  </mat-card-header>
  <mat-card-content class="d-flex flex-column">
    <mat-form-field>
      <input matInput placeholder="Order Id" type="number" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Order Date" type="date" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Party Name" type="text" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Station" type="text"  required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mobile no." type="number" required />
    </mat-form-field>
  </mat-card-content>
</mat-card>
